@charset "UTF-8";

*{
    margin: 2px;
}

body{
    font-size: 24px;
    color: white;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.flex-header {
    background-color: rgb(157, 191, 247);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.flex-main{
    display: flex;
    flex: 1;

}

.flex-nav{
    background-color:rgb(247, 194, 245);
    padding-top: 3rem;
    flex: 1 1 5rem;
}

.flex-article{
    background-color: rgb(233, 188, 91);
    padding-top: 3rem;
    flex: 3 3;
}

.flex-aside{
    background-color: rgb(247, 194, 245);
    padding-top: 3rem;
    flex: 1 1 5rem;
}

.flex-footer{
    background-color: rgb(157, 191, 247);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media screen and (max-width: 540px){
    .flex-main{
        flex-direction: column;
    }
}